.post
  margin: 16px 0
  padding: 16px
  max-width: 588px
  background-color: #fff
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15)
  border-radius: 4px
  z-index: 1
  &-header
    max-width: 556px
    margin-bottom: 16px
    display: flex
    justify-content: space-between
  &-user
    display: flex
    align-items: center
    flex-wrap: no-wrap
    &-avatar
      margin-right: 12px
      width: 48px
      height: 48px
      &__img
        width: 100%
        border-radius: 50%
    &-info
      &__username
        margin: 0
        color: $main-color
      &__pubTime, &__pointDivider
        color: $post-user-info-color
      &__optionsIcon
        position: relative
        top: 3px
        left: 2px
        cursor: pointer
  &-more
    height: 20px
    cursor: pointer
  &-content
    padding-bottom: 20px
    &__title
      margin: 10px 0 0
      font-size: 18px
      letter-spacing: 0.5px
      font-weight: 400
      color: $main-text-color
    &__paragraph
      font-size: 16px
      color: $main-text-color
    &__link
      margin-left: 5px
      font-size: 16px
      color: $link-color
    &-attach
      max-width: 556px
      max-height: 290px
      margin: 16px 0
      &__img
        width: 100%
      &__id1
        margin: 16px auto
        width: 450px
  &-footer
    max-width: 556px
    height: 40px
    display: flex
    align-items: flex-end
    justify-content: space-around
    flex-wrap: no-wrap
    font-weight: bold
    letter-spacing: 0.5px
    border-top: 1px solid $secondary-color
    &-item
      display: flex
      align-items: center
      flex-wrap: no-wrap
      color: $main-text-color
      cursor: pointer
      transition: 0.3s
      &:hover
        color: $main-color
        .post-footer-item__icon path
          fill: $main-color
      &__counter, &__icon
        margin-right: 8px
      &__share
        position: relative
.share-modal
  display: block
  position: absolute
  top: -217px
  left: -66px
  width: 196px
  height: 204px
  background-color: #fff
  box-shadow: 0px 10px 19px rgba(0, 0, 0, 0.15)
  border-radius: 4px
  z-index: -2
  &::after
    content: ''
    display: block
    height: 8px
    width: 8px
    position: absolute
    bottom: -4px
    left: 74px
    transform: rotate(45deg)
    background-color: inherit
  &-list
    margin: 8px 0 4px
    padding: 0
    padding-left: 12px
    list-style: none
    display: flex
    flex-direction: column
    font-size: 14px
    font-weight: normal
    color: $main-text-color
    &__item
      height: 32px
      &:hover
        color: $main-color

.fadeUpShareModal
  animation: fadeUpShare 0.3s linear 0s 1 normal forwards

.disFadeUpShareModal
  animation: disFadeUpShare 0.3s linear 0s 1 normal forwards

@keyframes fadeUpShare
  0%
    z-index: -2
    opacity: 0
    top: -207px
  50%
    opacity: 0.5
  100%
    opacity: 1
    top: -217px
    z-index: 2

@keyframes disFadeUpShare
  0%
    z-index: 2
    opacity: 1
    top: -217px
  50%
    opacity: 0.5
  100%
    opacity: 0
    top: -207px
    z-index: -2


